{% extends 'my_bootstrap3.html' %}
{%  load bootstrap3 %}
{% block bootstrap3_content %}

    <nav class="navbar navbar-default navbar-fixed-top" style="">
    <div class="container">
        <div class="container">
            <div class="navbar-header">
                <span>
                    <a href="" class="navbar-brand"><i class="fa fa-random"></i>RSS News</a>
                </span>
            </div>
        </div>
    </div>
    </nav>

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-xs-0 col-md-3"></div>
            <div class="col-xs-0 col-md-6">

                <div class="post-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Title</h3>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet magna non turpis porta sagittis et sit amet erat. Phasellus faucibus, elit eu consectetur interdum, eros metus commodo arcu, et facilisis tellus sapien eu purus. Praesent a est arcu. Nunc pellentesque pellentesque sapien non sollicitudin. In ullamcorper leo id faucibus interdum.                                    Nullam imperdiet libero in ex mollis, eu blandit mauris rhoncus. Morbi fermentum erat laoreet suscipit vehicula. Nam scelerisque et magna a eleifend. Nam vulputate ligula sit amet odio dapibus, non mollis purus porta.</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-danger">Read</button>
                                    <button class="btn btn-sm btn-danger">Add Favorite</button>
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <br>

                <div class="post-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Title</h3>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet magna non turpis porta sagittis et sit amet erat. Phasellus faucibus, elit eu consectetur interdum, eros metus commodo arcu, et facilisis tellus sapien eu purus. Praesent a est arcu. Nunc pellentesque pellentesque sapien non sollicitudin. In ullamcorper leo id faucibus interdum. Nullam imperdiet libero in ex mollis, eu blandit mauris rhoncus. Morbi fermentum erat laoreet suscipit vehicula. Nam scelerisque et magna a eleifend. Nam vulputate ligula sit amet odio dapibus, non mollis purus porta.</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-danger">Read</button>
                                    <button class="btn btn-sm btn-danger">Add Favorite</button>
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            <div class="col-xs-0 col-md-3"></div>
        </div>
    </div>

{% endblock %}